.container{
	margin: 0 auto;
	max-width: 300px;
}

.orange{
	background-color: #FE9340;
}

.grey{
	background-color: #E0E0E0;
}

button{
	border: 1px solid #8E8E8E;
}

#zero{
	border-radius: 0 0 0 10px;
}

#equals{
	border-radius: 0 0 10px 0;
}

#first-num-field{
	border-radius: 5px 0 0 0;
}

#second-num-field{
	border-radius: 0 5px 0 0;
}