html{
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing:inherit;
}

body{
	background-color: #e1e1e1;
	position: relative;
	width: 80%;
}

.inline-item{
	display: inline;
	padding: 5px;
}

h1{
	width: 395px;
	margin: 0 auto;
}

/* left nav bar will be floated left*/
#left-nav{
	float: left;
	width: 30%;
	background-color: #FFFFFF;
	padding: 20px;
	height: 390px;
	border-radius: 25px;
}

/* keeps the main text to the right of the left sidebar*/
main{
	float: right;
	width: 70%;
}

#death-star{
	width: 30%;
	height: auto;
	float: left;
	border-radius: 25px;
}

footer{
	clear: right;
	font-size: 60%;
	text-align: center;
}