html{
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing:inherit;
}

body{
	background-color: #e1e1e1;
}

.inline-item{
	display: inline;
	padding: 5px;
}

h1{
	margin: 0 auto;
}

#left-nav{
	float: left;
	background-color: #FFFFFF;
	padding: 20px;
	border-radius: 25px;
}

#death-star{
	width: 30%;
	height: auto;
	float: left;
	padding-right: 5px;
	border-radius: 25px;
}

footer{
	font-size: 60%;
}