html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}

body{
	background-color: #ABDCFD;
}

/* Creates and decorates box containing each day */
.day{
	border: 1px solid #C6C6C6;
	height: 250px;
	width: 33%;
	float: left;
	background-color: #F2F2F2;

}

.bold{
	font-weight: bold;
}

#day-1{
	margin-left: 6px;
}