html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}

body{
	background-color: #ABDCFD;
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}

/* Creates and decorates box containing each day */
.day{
	border: 1px solid #C6C6C6;
	height: 250px;
	width: 33%;
	float: left;
	background-color: #F2F2F2;
	margin-bottom: 10px;
}

.bold{
	font-weight: bold;
}